<div class="card container">
  <h1>Editing Profile</h1>

  <%= render 'form', profile: @profile %>

  <div>
    <%= link_to 'Show', @profile, class: "btn btn-dark" %>
    <%= link_to 'Back', profiles_path, class: "btn btn-dark" %>
  </div>
</div> 