<div class="centered">
  <%= link_to 'Image Home', image_path %>
</div>
<br/>
<div class="card container">
  <div class="centered">
    <strong><%= @image.title %></strong>
    <br/>
    <%= image_tag @image.image, class: "center_img"%>
    <%= link_to 'Delete', image_path(@image), method: :delete %>
  </div>
</div>